<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-md-6">
        <form th:action="@{/note/create}" method="post">

            <div class="form-group">
                <label for="title">笔记标题</label>
                <input class="form-control" id="title" name="title" placeholder="笔记标题">
            </div>
            <div class="form-group">
                <label for="content">笔记内容</label>
                <textarea class="form-control" id="content" name="content" rows="20" placeholder="笔记内容"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input id="type" name="type" type="checkbox" value="1">
                    是否隐藏
                </label>
            </div>
            <button type="submit" class="btn btn-primary" style="width:120px;">确认</button>
        </form>
        <br/>
        <!-- 预览的 js 在下面的 note.js 中-->
        <button id="previewButton" class="btn btn-primary" style="width:120px;">预览</button>
    </div>
    <div class="col-md-6" id="preview"></div>
</div>
<div layout:fragment="customScript">
    <script type="text/javascript" src="/js/markdown.js"></script>
    <script type="text/javascript" src="/js/note.js"></script>
</div>
</body>
</html>