<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">

    <h2 th:text="${note.title}" class="center"></h2>

    <div>
        <a th:href="@{/note/index}">返回列表</a> |
        <a th:href="@{'/note/edit/'+${note.id}}">编辑</a>
    </div>
    <div id="article" style="border: 1px solid green;"></div>
    <div>
        <a th:href="@{/note/index}">返回列表</a> |
        <a th:href="@{'/note/edit/'+${note.id}}">编辑</a>
    </div>

</div>
<div layout:fragment="customScript">
    <script src="/static/js/ext/marked.js"></script>
    <script th:inline="javascript">
        var content = [[${note.content}]];
        // markdown 转 html
        var markdown_content = marked(content);

        $("#article").html(markdown_content);

        // 高亮
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

    </script>
</div>
</body>
</html>